body{margin:1px;}
#controlPanel{padding:3px;border:solid 1px;background-color:lightgray;}
.controlPanelTabs{margin:3px;}
#tabControl{margin:15px 25px;}
#workdir{width:100%;height:500px;}
div.filenode{font-size:12pt;height:15pt;}
img{max-height:100%;max-width:auto;float:left}
div.name{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;direction:rtl;text-align:left;}
