body {
    margin: 1px;
}
#controlPanel {
    padding: 3px 3px;
    border: solid 1px;
    background-color: lightgray;
}
.controlPanelTabs { margin: 3px 3px; }

#tabControl { margin: 15px 25px;}
#workdir {
    width: 100%;
    height: 500px;
}
div#complileOption div, div#ping div{
    margin-bottom: 10px;
}

img {max-height:100%; max-width:auto;}
span.name {margin-left:5px;}
